{
	"username": "Captain Hook",
	 "avatar_url": "https://i.imgur.com/Im23E55.png",
	 "embeds": [{
	 	"color": 14177041,
		"title": "Rule #1",
		"description": "Please don't be annoying"
	 }]},
	 
	{
	"username": "Captain Hook",
	 "avatar_url": "https://i.imgur.com/Im23E55.png",
	 "embeds": [{
	 	"color": 14177041,
		"title": "Rule #2",
		"description": "Pls post memes"
		
			 }]}
